.button {
  display: block;
  width: 240px;
  min-height: 50px;
  margin: 0;
  padding: 13px 0 0 0;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  color: #e06366;

  background-color: #d7373b;
}

.button--green {
  background-color: #00ca74;
}

.button--yellow {
  background-color: #efc84a;
}
