.company-performance {
  width: 360px;
}

.company-performance > img {
  margin-bottom: 28.5px;
}

.company-performance__table-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
