.company-description {
  width: 680px;
  padding-top: 34px;
}

.company-description__title {
  display: block;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.company-description__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
}

.company-description__list-header {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  font-weight: 700;
  text-transform: uppercase;
}

.company-description__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.company-description__item {
  position: relative;

  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 36px;
}

.company-description__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  margin-top: -1px;
  width: 25px;
  height: 2px;

  background-image: url(../img/red-line.svg);
}
