.filter-meshes {
  display: block;
  margin: 0;
  padding: 0;

  border: none;
}

.filter-meshes__filter-title {
  margin-bottom: 20px;
}

.filter-meshes__list {
  width: 180px;
  min-height: 105px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-meshes__item {
  width: inherit;
  min-height: 25px;
}

.filter-meshes__item:not(:last-child) {
  margin-bottom: 15px;
}

.filter-meshes__item-name {
  position: relative;

  display: block;
  width: inherit;
  margin: 0;
  padding: 0;
  padding-left: 36px;

  line-height: 25px;
  color: #283136;

  cursor: pointer;
}

.filter-meshes__item-name:hover {
  color: #000000;
}

.filter-meshes__radio-button:disabled ~ .filter-meshes__item-name {
  color: #283136;

  cursor: default;
  opacity: 0.3;
}

.filter-meshes__item-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 25px;
  height: 25px;

  background: url("../img/sprite.svg") 66.66666666666667% 64.78873239436619% no-repeat;
  opacity: 0.4;
}

.filter-meshes__item-name:hover::before {
  opacity: 0.68;
}

.filter-meshes__radio-button:checked ~ .filter-meshes__item-name::before {
  background: url("../img/sprite.svg") 100% 100% no-repeat;
}

.filter-meshes__radio-button:disabled ~ .filter-meshes__item-name::before {
  opacity: 0.3;
}
