.nav-main {
  display: flex;
  justify-content: space-between;
  width: 798px;
  margin: 0;
  padding: 0;
}

.nav-main__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 444px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-main__item {
  margin: 0;
  padding: 0;

  vertical-align: middle;
  text-align: center;
}

.nav-main__item:not(:last-child) {
  margin-right: 46px;
}

.nav-main__link {
  display: block;
  min-height: 65px;
  padding-top: 26px;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.nav-main__link:hover {
  color: #fb565a;
}

.nav-main__link:active {
  color: #000000;

  border-bottom: 1px solid #fb565a;
}

.nav-main__link--cart {
  position: relative;

  width: 115px;
  padding-left: 40px;
}

.nav-main__svg {
  position: absolute;
  top: 33px;
  left: 0;

  width: 15px;
  height: 15px;

  fill: #a6a6a6;
}
