.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list__item {
  margin-right: 11px;
}

.pagination-list__item:last-child {
  margin-right: 0;
}

.pagination-list__button {
  width: 50px;
}

.pagination-list__button--current,
.pagination-list__button--current:hover,
.pagination-list__button--current:active {
  line-height: 44px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  box-shadow: none;
  cursor: default;
}

.pagination-list__button--last {
  width: 260px;
}
