html, 
body {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;

  text-decoration: none;

  overflow-wrap: break-word;
}

img {
  max-width: 100%;
  height: auto;

  text-align: center;
}

//= ../common.blocks/visually-hidden.css
//= ../common.blocks/container.css

//= ../common.blocks/about-us.css
//= ../common.blocks/button.css
//= ../common.blocks/cart.css
//= ../common.blocks/colums.css
//= ../common.blocks/company-description.css
//= ../common.blocks/company-performance.css
//= ../common.blocks/contacts.css
//= ../common.blocks/discount.css
//= ../common.blocks/feedback.css
//= ../common.blocks/filter-cost.css
//= ../common.blocks/filter-mesh.css
//= ../common.blocks/filter-meshes.css
//= ../common.blocks/filter-specifications.css
//= ../common.blocks/filter-title.css
//= ../common.blocks/filters.css
//= ../common.blocks/footer.css
//= ../common.blocks/header.css
//= ../common.blocks/logo.css
//= ../common.blocks/main.css
//= ../common.blocks/map.css
//= ../common.blocks/menu.css
//= ../common.blocks/mesh.css
//= ../common.blocks/meshes.css
//= ../common.blocks/our-works.css
//= ../common.blocks/pagination-list.css
//= ../common.blocks/price.css
//= ../common.blocks/promo.css
//= ../common.blocks/range-slider.css
//= ../common.blocks/service.css
//= ../common.blocks/services.css
//= ../common.blocks/slide.css
//= ../common.blocks/slider.css
//= ../common.blocks/social-list.css
//= ../common.blocks/social.css
//= ../common.blocks/sorting.css
//= ../common.blocks/special-percent.css
//= ../common.blocks/specification.css
//= ../common.blocks/specifications.css
//= ../common.blocks/table.css
//= ../common.blocks/template-hover.css
//= ../common.blocks/text.css
//= ../common.blocks/title.css
